.darklight{
    margin-right: .5rem;
}
.button{
    border: none;
    font-size: 1rem;
    background-color: transparent;
}
.navbar-card{
    padding: 1rem 8rem 1rem 8rem;
    box-shadow: 0px 1px 4px #888888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
}
@media screen and (max-width:600px){
    .navbar-card{
        padding: .1rem 1rem .1rem 1rem;
    }
}
.header-text{
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}
